<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="../../public/css/creaciontorneos.css">

</head>
<body>
        <img class="fondo" src="../../public/img/fondoCreaTorneo.png">
     <header>
        <nav>
            <img src="../../public/img/logonuevo.png" alt="logo spl">
            <ul>
                <li><a href="inicioPostSesion.html">Inicio</a></li>
                <li><a href="torneos.html">Torneos</a></li>
                
            </ul>
        </nav>

<section id="creador" class="create-torneo">
    <div class="create-card">
        <h2>Crear Torneo</h2>
        <form action="#"> <!--Que te envíe a confirmación -->
            <div class="input-torneo">
                <label>Nombre del torneo</label>
                    <input type="text" placeholder="Ej: Copa de Verano" required>
                        <ion-icon name="ribbon-outline"></ion-icon>
            </div>
            <div class="input-torneo">
                <div class="deporte-apartado">
                    <label for="deporte-selec">Deporte</label>
                        <input type="text" id="deporte-selec" list="deportes-sugeridos" placeholder="Crea o selecciona
                    una etiqueta.">

                    <datalist id="deportes-sugeridos">
                        <option value="Fútbol">
                        <option value="Pádel">
                        <option value="Tenis">
                        <option value="Básquetbol">
                        <option value="Voleibol">
                        <option value="Videojuego">
                    </datalist>

                    <button type="button" id="btn-add-tag">+</button>
                        <ion-icon name="trophy-outline"></ion-icon>
                </div>
                <div id="tags-container" class="tags-container">
                    </div>
                </div>
            </div>

             <div class="input-torneo">
                <label>Fecha de inicio</label>
                    <input type="date" placeholder="Fecha de inicio" required>
                        <ion-icon name="today-outline"></ion-icon>
            </div>
            <div class="input-torneo">
                <label>Número de Participantes</label>
                    <input type="number" placeholder="Número de participantes" required>
                        <ion-icon name="today-outline"></ion-icon>
            </div>

            <button type="submit">Crear Torneo</button>
        </form>
    </div>
</section>

</body>
</html>