<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPL - Gestión de Torneos</title>
    <link rel="stylesheet" href="../../public/css/pagina.css">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="../../public/img/logonuevo.png" alt="logo spl" >

                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="despliegue">☰</label>

            <ul class="menu">
                <li><a href="iniciosesion.html">Acceder</a></li>
                <li><a href="consultadetorneos.html">Torneos</a></li>
                <li><a href="calendario.html">Calendario</a></li>
            </ul>
        </nav>
    </header>

<section class="inicio">
    <div class="principal">
                <img class="fondo" src="../../public/img/Background.png" alt="fondo">
                <img class="fondotelefono" src="../../public/img/pruebafondotelefono.png" alt="fondotelefono">
                
            <h1>COMPITE</h1>
            <h1>CONECTA</h1>
            <h1 class="color">TRIUNFA</h1>
        <p>
                    Organiza competiciones, administra equipos,
                    registra resultados y consulta estadísticas en tiempo real.
        </p>
            <a href="../../apps/views/consultadetorneos.html">
                <button class="explorador">Explora torneos</button>
                </a>
            <a href="../../apps/views/creaciontorneo.html">
                <button class="creador">Crea tu torneo</button>
            </a>
            
     <div class="cards">
<!-- Ver torneos activos solo futbol -->
            <div class="cardfut">
                <img src="../../public/img/logofutbol.png" alt="futbol">
            </div>
<!-- Ver torneos activos solo basquet -->
            <div class="cardbasquet">
                <img src="../../public/img/logobasquet.png" alt="basquet">
            </div>
<!-- Ver torneos activos solo voley -->
             <div class="cardvoley">
                <img src="../../public/img/logovoley.png" alt="voley">
            </div>
<!-- Ver torneos activos -->
             <div class="cardmas">
                <img src="../../public/img/maslogo.png" alt="mas">
            </div>
    </div>

</section>
<!-- Acá comienza información general de la página-->
    <section id="info" class="info">
        <h1>ACA VA GALERIA DE TORNEOS ACTIVOS</h1>
        <br>
        <h2>¿Qué es SPL?</h2>
        <p>
            SPL es una plataforma diseñada para organizar torneos
            deportivos de cualquier disciplina. 
        </p>

<!-- Se divide la información por "tarjetas"-->
<div class="card-info">
    <div class="card-funcionamiento">
        <h2>¿Cómo funciona?</h2>
        <p>
            1. Crea una cuenta
        </p>
        <p>
            2. Crea o únete a un torneo.
        </p>
        <p>
            3. Consulta resultados y ranking.
        </p>
    </div>
    <div class="card-usuarios">
            <h2>¿Para quién está destinado SPL?</h2>
            <p>
                • Jugadores
                </p>
            <p>
                • Organizadores
                </p>
            <p>
                • Clubes/Federaciónes
                </p>
            <p>
                • Docentes
                </p>
            <p>
                • Organizadores independientes
                </p>
            <p>
                • Comunidades
            </p>
    </div>
    <div class="card-sistemas">
            <h2>Sistemas de Competición</h2>
            <p>
                • Liga
            </p>
            <p>
                • Eliminacón directa
            </p>
            <p>
                • Sistema Suizo
            </p>
    </div>
    <div class="card-preguntas">
    <!-- Cabecera sin icono -->
    <div class="titulo">
            <h2>Preguntas frecuentes</h2>
    </div>
    <!-- Lista -->
    <div class="lista">
        <!-- Pregunta 1 -->
        <details class="item"> <!-- Details: es una etiqueta interactiva de HTML que 
            sirve para crear bloques de información que el usuario puede ocultar o mostrar con un solo clic.
            Se utiliza frecuentemente para crear lo que se le dice "acordeón" o "colapsable"
            (en otras palabras; en este caso el desplegable de info.)-->
            <summary class="pregunta-fila"> <!-- Summary: Acompaña obligatoriamente a <details>. Define
                el título o la cabecera visible del colapsable (desplegable). Cuando la tarjeta
                de preguntas se encuentra cerrada, todo el texto de la respuesta permanece oculto, excepto
                lo que se encuentra dentro de <summary>-->
                ¿Es gratis?
                <span class="flecha"></span> <!-- Span: Etiqueta utilizada como contenedor
                en línea. Es una herramienta utilizada para seleccionar y aislar un pedazo del texto
                u elemento dentro de un bloque grande. Es un elemento "en linea"(inline) que se diferencia de <div> o 
                <p> al ocupar solamente el espacio estricto y necesario y no la totalidad del ancho
                de pantalla o contenedor.-->
            </summary>
            <div class="respuesta">
                <p>Sí, registrarte y explorar la plataforma es totalmente 
                    gratuito para todos los usuarios.</p>
            </div>
        </details>
        <!-- Pregunta 2 -->
        <details class="item">
            <summary class="pregunta-fila">
                ¿Puedo organizar torneos privados?
                <span class="flecha"></span>
            </summary>
            <div class="respuesta">
                <p>¡Por supuesto! Al crear un torneo puedes configurarlo 
                    como privado para que solo accedan con invitación.</p>
            </div>
        </details>
        <!-- Pregunta 3 -->
        <details class="item">
            <summary class="pregunta-fila">
                ¿Puedo editar un torneo?
                <span class="flecha"></span>
            </summary>
            <div class="respuesta">
                <p>Sí, puedes editar la información, fechas y participantes de tus torneos desde tu panel 
                    de administrador.</p>
            </div>
        </details>
    </div>
</div>
</div>
    </section>>
<!--Fin de la página, solamente Footer-->
    <footer>
        <p> 2026 SPL | Sistema de Gestión de Torneos y Partidos</p>
    </footer>

</body>
</html>