<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPL - Iniciar Sesión</title>
    <!-- scripts para que los iconos (ion-icon) se muestren -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <link rel="stylesheet" href="../../public/css/iniciosesion.css">
</head>
<body>
    <img class="fondoiniciosesion" src="../../public/img/fondoRegistro.png">
    <img class="fondoInicioTelefono" src="../../public/img/IniciosesFOndo.png">
    <header>
        <nav>
            <img class="logo" src="../../public/img/logonuevo.png" alt="logo spl">

            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="despliegue">☰</label>

            <ul class="menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="iniciosesion.html">Acceder</a></li>
                <li><a href="torneos.html">Torneos</a></li>
            </ul>
        </nav>
    </header> 

    <section>
        <div class="login-card">
            <h2>Inicia Sesión</h2>
            <form action="../../apps/views/inicioPostSesion.html">
                
                <!-- Email -->
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" required autocomplete="off">
                    <!-- required autocomplete="off": Controla la memoria. Se encarga de no
                     mostrar lo que escribió el usuario en otro momento anterior. (Esto
                     podemos modificarlo)-->
                    <ion-icon name="mail-outline"></ion-icon>
                    <!-- ion-icon: iconos bonitos-->
                </div>

                <!-- Contraseña -->
                <div class="input-group">
                    <label>Contraseña</label>
                    <input type="password" required>
                    <!-- required: indica que el campo no puede quedar vacío-->
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </div>

                <!-- Opciones intermedias -->
                <div class="options-row">
                    <label class="remember-me">
                        <input type="checkbox"> Recuérdame
                    </label>
                    <a href="#">Olvidé mi contraseña</a>
                </div>

                <!-- Botón -->
                    <button type="submit" class="btn-submit">Acceder</button>

                <!-- Registro -->
                <div class="register-link">
                    <p>¿No tienes una cuenta? <a href="../../apps/views/registro.html">Registrarse</a></p>
                </div>

            </form>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <p>2026 SPL | Sistema de Gestión de Torneos y Partidos</p>
    </footer>

</body>
</html>