<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario - SPL</title>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="../../public/css/perfilCompleto.css">

</head>
<body>
    <img class="fondo" src="../../public/img/fondoPerfil.png" alt="Fondo de Perfil">

    <header>
        <nav>
            <img class="logo" src="../../public/img/logonuevo.png" alt="logo spl">

            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="despliegue">☰</label>

            <ul class="menu">
                <li><a href="../../apps/views/inicioPostSesion.html">Inicio</a></li>
                <li><a href="torneos.html">Torneos</a></li>
                <li><a href="calendario.html">Calendario</a></li>
                <li><a href="#">Mis Equipos</a></li>
            </ul>
        </nav>
    </header>

    <main class="contenedor-perfil">
        <!-- Foto de perfil e información del usuario -->
        <header class="header-perfil">
            <div class="info-principal">
                <div class="avatar-perfil">
                    <img class="imagen-avatar" src="../../public/img/usuariox.jpg" alt="avatar">
                </div>
                <div class="informacion-usuario">
                    <h2>Valerie Blanco</h2>
                    <p class="username">valerieblanco_</p>
                    <p class="rol">Participante</p>
                    <p class="age">17</p>
                    <p class="location">
                        <ion-icon name="location-outline"></ion-icon> Montevideo, Uruguay 🇺🇾
                    </p>
                    <p class="certificado-medico">Aprobado</p>
                </div>
            </div>
            <button id="btn-config" type="button" aria-label="Configuración">
                <ion-icon name="settings-outline"></ion-icon>
            </button>
        </header>

        <!-- Sección de Estadísticas / Grid -->
        <section class="estad-grid">
            <div class="estad-card">
                <span class="estad-label">Puntos</span>
                <span class="estad-valor">1,890</span>
            </div>

            <div class="info-deportes">
                <h3>DEPORTES</h3>
                <div class="contenedor-etiquetas">
                    <span class="etiqueta-item">
                        <ion-icon name="football-outline"></ion-icon> Fútbol
                    </span>
                    <span class="etiqueta-item">
                        <ion-icon name="football-outline"></ion-icon> Fútbol Sala
                    </span>
                </div>
            </div>

            <div class="info-equipo">
                <h3>CLUB / EQUIPO</h3>
                <div class="club-item">
                    <ion-icon name="shield-outline"></ion-icon>
                    <span>Jugador Independiente</span>
                </div>
            </div>

            <div class="info-historial">
                <h3>HISTORIAL DE TORNEOS</h3>
                <div class="historial-item">
                    <ion-icon name="reload-circle-outline"></ion-icon>
                    <a href="../../apps/views/mistorneos.html" class="btn-accion">Consulta aquí</a>
                </div>
            </div>
        </section>

        <!-- Sección: Información de cuenta -->
        <div id = "vista-configuracion" class = "vista-oculto ">
            <div class = "config-card">
                <div class = "config-fila">
                    <h3 class = "titulo"> Cuenta </h3>
                    <button id = "btn-volver"class = "btn-volver"><ion-icon name="close-outline"></ion-icon></button>
                </div>
                    
                <hr class="divisor">

                <section class="section-configPerfil">
                    <h3 class="titulo">Información de cuenta</h3>

                    <div class="config-fila">
                        <span class="fila-label">Nombre de usuario</span>
                            <div class="fila-acciones">
                                <span class="fila-dato">valerieblanco_</span>
                                <button id = "btn-editar-nombre" class="btn-editar">Editar</button>
                            </div>
                    </div>

                    <div class="config-fila">
                        <span class="fila-label">Correo electrónico</span>
                            <div class="fila-acciones">
                                <span class="fila-dato">**********@gmail.com</span>
                                <button id = "btn-editar-gmail" class="btn-editar">Editar</button>
                            </div>
                    </div>
                </section>

                <hr class="divisor">

                <!-- Sección: Contraseña y seguridad -->
                <section class="section-configPerfil">
                    <h3 class="titulo">Contraseña y seguridad</h3>
                        <div class="config-fila">
                            <span class="fila-label">Contraseña</span>
                                <div class="fila-acciones">
                                    <button id = "btn-editar-contraseña" class="btn-editar">Restablecer</button>
                                </div>
                        </div>
                </section>

                <section id = "vista-nuevoNombre" class = "vista-oculta-nuevoNombre">
                    <div class = "form-titulo">
                        <h2>Cambiar nombre de usuario</h2>
                        <p>Elige tu nuevo nombre de usuario a continuacion</p>
                    </div>
                    <form action = "" id = "cambio-nombre" class = "cambio-nombre">
                        <div class = "form-nombre">
                            <label for = "inpt-nombre"> Nombre Actual </label>
                            <input class = "inpt-nombre" type="text" required>
                        </div>
                        <div class = "form-nombre">
                            <label for = "inpt-nombreNuevo"> Nombre Nuevo </label>
                            <input class = "inpt-nombreNuevo" type="text" required>
                            <button class = "btn-confirmar" type="submit">Confirmar</button>
                        </div>
                    </form>           
                </section>
            </div>
        </div>
        
    </main>

    <footer>
        <p>© 2026 SPL | Sistema de Gestión de Torneos y Partidos</p>
    </footer>

    <script src="../../public/js/perfilCompleto.js"> </script>

</body>
</html>