<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- scripts para que los iconos (ion-icon) se muestren -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="../../public/css/registro.css">
</head>
    <img class="fondoiniciosesion" src="../../public/img/fondoRegistro.png">
    <img class="fondoInicioTelefono" src="../../public/img/IniciosesFOndo.png">
<body>
     <nav>
            <img src="../../public/img/logonuevo.png" alt="logo spl" class="logo">

            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="despliegue">☰</label>

            <ul class="menu">
                <li><a href="pagina.html">Inicio</a></li>
                <li><a href="iniciosesion.html">Acceder</a></li>
                <li><a href="torneos.html">Torneos</a></li>
            </ul>
        </nav>
    </header> 

    <section>
        <div class="login-card">
            <h2>Regístrate</h2>
            <form action="#">
                
                 <!-- Nombre -->
                <div class="input-group">
                    <label>Nombre</label>
                    <input type="nombre" required>
                    <ion-icon name="person-outline"></ion-icon>
                    <!-- ion-icon: iconos bonitos-->
                </div>
                 <!-- Nombre -->
                <div class="input-group">
                    <label>Apellido</label>
                    <input type="apellido" required>
                    <ion-icon name="person-outline"></ion-icon>
                    <!-- ion-icon: iconos bonitos-->
                </div>
                <!-- Email -->
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" required autocomplete="off">
                    <!-- required autocomplete="off": Controla la memoria. Se encarga de no
                     mostrar lo que escribió el usuario en otro momento anterior. (Esto
                     podemos modificarlo)-->
                    <ion-icon name="mail-outline"></ion-icon>
                    <!-- ion-icon: iconos bonitos-->
                </div>

                <!-- Contraseña -->
                <div class="input-group">
                    <label>Contraseña</label>
                    <input type="password" id="password" required>
                    <!-- required: indica que el campo no puede quedar vacío-->
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </div>

                <!-- Contraseña -->
                <div class="input-group">
                    <label>Repite tu contraseña</label>
                    <input type="password" id="confirm-password" required oniput="validarPassword()">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </div>

                <!-- Botón -->
                <button type="submit" class="btn-submit">Acceder</button>

            </form>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <p>2026 SPL | Sistema de Gestión de Torneos y Partidos</p>
    </footer>

    <script src="../../public/js/registro.js"></script>

</body>
</html>