<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/tutorial.css">
</head>
<body>
     <img class="fondo" src="../../public/img/fondoenproceso.png">
<header>
     <nav>
            <img class="logo" src="../../public/img/logonuevo.png" alt="logo spl" >

                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="despliegue">☰</label>

            <ul class="menu">
                <li><a href="../../apps/views/inicioPostSesion.html">Inicio</a></li>
                <li><a href="../../apps/views/soporte.html">Soporte</a></li>
                <li><a href="../../apps/views/calendario.html">Calendario</a></li>
            </ul>
        </nav>
</header>


</body>
</html>