*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #020617 0%, #061e26 60%, #032d30 100%) !important;
  background-attachment: fixed; 
  min-height: 100vh !important;
  width: 100%;
}

header{
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

#menu-toggle{
    display:none;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-right: 50px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;

}

nav a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

.login-section{
    display:flex;
    justify-content:center;
    margin-top:-80px;
}

.login-card{
    background:white;
    width:400px;
    padding:35px;
    border-radius:15px;
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.login-card h2{
    text-align:center;
    margin-bottom:25px;
    color:#2563eb;
}

.login-card input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
}

.login-card button{
    width:100%;
    padding:14px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.login-card button:hover{
    background:#1d4ed8;
}
.login-card hr{
    margin:30px 0;
    border:none;
    height:1px;
    background:#ddd;
}
.login-card form{
    display:flex;
    flex-direction:column;
    gap:12px;
}
.login-card input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}
.login-card button{
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}
.login-card button:hover{
    background:#1d4ed8;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
}

@media screen and (max-width: 768px){
     nav {
        position: relative;
    }
    /* Mostramos el icono */
    .despliegue {
        display: block;
        font-size: 35px;
        color: white;
        cursor: pointer;
    }

    .menu {
        display: none; /* Oculto por defecto en móvil */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Aparece justo debajo de la barra de navegación */
        left: 0;
        width: 100%;
        background-color: #020A17; /* Fondo oscuro integrado con tu header */
        padding: 20px 0;
        z-index: 100;
        gap: 0; /* Quitamos el espacio de escritorio */
    }

    .menu li {
        width: 100%;
        text-align: center;
    }

    .menu li a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Línea divisoria sutil */
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }

    .logo{
        display: flex;
        width: 200px;
        height: 150px;
    }
}